body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f4f4f4;
    background-image: url('../img/home_bg.jpg');
}

body.field {
    background-image: url('../img/field_bg.jpg');
}

body.house {
    background-image: url('../img/house_bg.jpg');
}

body.cave {
    background-image: url('../img/cave_bg.jpg');
}

body.forest {
    background-image: url('../img/forest_bg.jpg');
}

body.river {
    background-image: url('../img/river_bg.jpg');
}

body.mountain {
    background-image: url('../img/mountain_bg.jpg');
}

body.village {
    background-image: url('../img/village_bg.jpg');
}

body.dungeon {
    background-image: url('../img/dungeon_bg.jpg');
}

.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    animation: glow 1.5s ease-in-out infinite alternate;
}

p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    max-width: 300px;
    margin-bottom: 2px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    font-size: 1em;
    color: #000;
}

.button-container {
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #0056b3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #007BFF, 0 0 30px #007BFF, 0 0 40px #007BFF, 0 0 50px #007BFF, 0 0 60px #007BFF, 0 0 70px #007BFF;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #007BFF, 0 0 40px #007BFF, 0 0 50px #007BFF, 0 0 60px #007BFF, 0 0 70px #007BFF, 0 0 80px #007BFF;
    }
}